# SUPABASE
DATABASE_URL=""


# BETTER AUTH
BETTER_AUTH_SECRET=fOXOtlytbHN1d4tLgomwGk5Hk67mC4A8
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

# MAIL
GMAIL_ID=""
GMAIL_PASS=""
EMAIL_FROM=""